
@{
}
<form method="post">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre">
  </div>
  <div class="mb-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="apellido" name="apellido">
  </div>
  <div class="mb-3">
    <label for="tipoD" class="form-label">Tipo de documento</label>
    <input type="text" class="form-control" id="tipoD" name="tipoD">
  </div>
  <button type="submit" class="btn btn-success">Insertar</button>
</form>
